.collapsable-design {
  color: $colorGunMetal;
  text-transform: uppercase;
  .collapsable__header {
    display: grid;
    grid-template-columns: 21px 1fr 16px;
    grid-template-rows: 24px;
    align-items: center;

    color: $colorGunMetal;
    text-transform: uppercase;
    font-size: 1.125rem;
    padding: 10px 0px 10px 0px;
    .far {
      color: $colorDullOrange;
    }
    .fa-share-alt {
      color: $colorDullOrange;
    }
    &--title {
      margin-left: 10px;
      @include menu-title;
    }
  }
  &__colors {
    padding: 10px 0px;
    display: flex;
    justify-content: space-between;
    &--title {
      margin-top: -6px;
      font-size: 0.875rem;
      font-weight: normal;
      font-family: $fontOpenSans;
      padding-left: 19px;
    }
    .palette {
      display: flex;
      align-items: center;
      padding-bottom: 20px;
      input {
        cursor: pointer;
      }
      &__square {
        display: flex;
        padding-left: 10px;
        &--color {
          width: 30px;
          height: 25px;
        }
      }
      .palette-1 .color-1 {
        background-color: $colorDarkGreenBlue;
      }
      .palette-1 .color-2 {
        background-color: $colorDirtyBlue;
      }
      .palette-1 .color-3 {
        background-color: $colorHospitalGreen;
      }
      .palette-2 .color-1 {
        background-color: $colorDriedBlood;
      }
      .palette-2 .color-2 {
        background-color: $colorRustyRed;
      }
      .palette-2 .color-3 {
        background-color: $colorTomato;
      }
      .palette-3 .color-1 {
        background-color: $colorSlate;
      }
      .palette-3 .color-2 {
        background-color: $colorFadedOrange;
      }
      .palette-3 .color-3 {
        background-color: $colorLightGreyBlue;
      }
    }
  }
}

//Palette 1//
.changeNameColor1 {
  color: $colorDarkGreenBlue;
}
.changeProfColor1 {
  color: $colorDirtyBlue;
}
.changeBorderColor1 {
  border-left: 5px solid $colorDirtyBlue;
}
.changeSocialColor1 {
  border: 2px solid $colorHospitalGreen;
  color: $colorDarkGreenBlue;
}

//Palette 2//
.changeNameColor2 {
  color: $colorDriedBlood;
}
.changeProfColor2 {
  color: $colorRustyRed;
}
.changeBorderColor2 {
  border-left: 5px solid $colorRustyRed;
}
.changeSocialColor2 {
  border: 2px solid $colorTomato;
  color: $colorRustyRed;
}

//Palette 3//
.changeNameColor3 {
  color: $colorSlate;
}
.changeProfColor3 {
  color: $colorFadedOrange;
}
.changeBorderColor3 {
  border-left: 5px solid $colorFadedOrange;
}
.changeSocialColor3 {
  border: 2px solid $colorLightGreyBlue;
  color: $colorFadedOrange;
}
