.collapsable__header {
  display: grid;
  grid-template-columns: 21px 1fr 16px;
  grid-template-rows: 24px;
  align-items: center;

  color: $colorGunMetal;
  text-transform: uppercase;
  font-size: 1.125rem;
  padding: 10px 0px 10px 0px;
  cursor: pointer;

  .far {
    color: $colorRustyRed;
  }

  .fa-share-alt {
    color: $colorRustyRed;
  }

  &--title {
    margin-left: 10px;
    @include menu-title;
  }
}

.border {
  border-bottom: 1px solid $colorWhite-two;
}
