.collapsable-share {
  color: $colorGunMetal;
  &__button {
    display: block;
    cursor: pointer;
    margin: 20px auto 30px;
    color: $colorWhite;
    background: $colorTomato;
    border-radius: 12px;
    height: 50px;
    padding: 13px 17px;

    text-transform: uppercase;
    font-family: $fontOpenSans;
    font-weight: 600;
    font-size: 1.125rem;
    box-shadow: 0 1px 6px 0 rgba(0, 0, 0, 0.32);
    .fa-address-card {
      font-size: 1.375rem;
      padding-right: 5px;
    }
  }
  &__line {
    border-bottom: 1px solid $colorWhite-two;
  }

  &__twitter {
    text-align: center;
    border-top: 1px solid $colorWhite-two;
    padding: 20px 0px 30px 0px;
    &--title {
      font-family: $fontOpenSans;
      font-weight: 600;
      font-size: 1rem;
      text-transform: initial;
      padding-bottom: 5px;
    }
    &--link {
      display: block;
      color: $colorDullOrange;
      font-family: $fontOpenSans;
      font-size: 0.7rem;
      font-weight: 600;

      @media (max-width: 340px) {
        font-size: 0.65rem;
      }
    }
    &--button {
      display: inline-block;
      background: $colorAzure;
      color: white;

      padding: 5px 10px;
      border-radius: 5px;
      margin-top: 10px;
      box-shadow: 0 1px 4px 0 rgba(0, 0, 0, 0.32);

      font-size: 0.875rem;
      font-family: $fontOpenSans;

      .fa-twitter {
        padding-right: 5px;
        font-size: 18px;
      }
    }
  }
}

.button-share-click {
  background: $colorLightGreyBlue;
  cursor: not-allowed;
}

.button-share-click-error {
  background: $colorRustyRed;
  cursor: pointer;
}
.message-share {
  font-size: 12px;
  line-height: 20px;
  color: $colorDarkGreenBlue;
  font-family: $fontOpenSans;
  margin-bottom: 7px;
}
