<section class="preview">
  <div class="preview__container">
    <button class="preview__reset">
      <span class="far fa-trash-alt"></span>
      <span>Reset</span>
    </button>
    <section class="preview__card">
      <div class="preview__card-data">
        <h2 class="preview__card-data--name">Nombre Apellido</h2>
        <h3 class="preview__card-data--jobTitle">Front-end developer</h3>
      </div>
      <img
        class="preview__card-image"
        src="./assets/images/card-pic.jpg"
        alt="Card Picture"
      />
      <div class="preview__card-socials">
        <a class="preview__card-socials--items" href="tel:+34"
          ><span class="fas fa-mobile-alt"></span
        ></a>
        <a class="preview__card-socials--items" href="mailto:"
          ><span class="far fa-envelope"></span
        ></a>
        <a class="preview__card-socials--items" href="linkedin.com"
          ><span class="fab fa-linkedin-in"></span
        ></a>
        <a class="preview__card-socials--items" href="github.com"
          ><span class="fab fa-github-alt"></span
        ></a>
      </div>
    </section>
  </div>
</section>
