<section class="preview">
  <div class="preview__container">
    <button type="reset" class="preview__reset js-reset">
      <span class="far fa-trash-alt"></span>
      <span>Reset</span>
    </button>
    <section class="preview__card">
      <div class="preview__card-data">
        <h2 class="preview__card-data--name js-name"></h2>
        <h3 class="preview__card-data--jobTitle js-jobTitle">
          Front-end developer
        </h3>
      </div>
      <div class="preview__card-image js__profile-image"></div>
      <div class="preview__card-socials">
        <a
          class="preview__card-socials--items js-buttonTel"
          href=""
          target="_blank"
          title="telephone"
          ><span class="fas fa-mobile-alt"></span
        ></a>
        <a
          class="preview__card-socials--items js-buttonEm"
          href=""
          target="_blank"
          title="email"
          ><span class="far fa-envelope"></span
        ></a>
        <a
          class="preview__card-socials--items js-buttonLink"
          href=""
          target="_blank"
          title="linkedin"
          ><span class="fab fa-linkedin-in"></span
        ></a>
        <a
          class="preview__card-socials--items js-buttonGit"
          href=""
          target="_blank"
          title="github"
          ><span class="fab fa-github-alt"></span
        ></a>
      </div>
    </section>
  </div>
</section>
