<section class="collapsable-fill js-collapsable-fill collapsable-hidden">
  <div class="collapsable-fill__content">
    <label class="label" for="name">nombre completo</label>
    <input
      class="input js-nameInput"
      id="name"
      type="text"
      name="name"
      placeholder="Ej: Sally Jill"
      required
    />
    <label class="label" for="job">puesto</label>
    <input
      class="input js-job"
      id="job"
      type="text"
      name="job"
      placeholder="Ej: Front-end unicorn"
      required
    />
    <label class="label" for="image">imagen de perfil</label>

    <div class="collapsable-fill__content--buttonPreview">
      <input
        class="button"
        id="image"
        type="file"
        value="Añadir imagen"
        name="photo"
        required
      />
      <div class="square"></div>
      <!--<input class="square" id="image" type="input" name="square" />-->
    </div>
    <label class="label" for="email">email</label>
    <input
      class="input"
      id="email"
      type="email"
      name="email"
      placeholder="Ej: sally-hill@gmail.com"
      value
      required
    />
    <label class="label" for="telephone">teléfono</label>
    <input
      class="input"
      id="telephone"
      type="tel"
      name="phone"
      placeholder="Ej: 123456789"
      value
      required
    />
    <label class="label" for="linkedin">linkedin</label>
    <input
      class="input"
      id="linkedin"
      type="text"
      name="linkedin"
      placeholder="Ej: sally.hill"
      value
      required
    />
    <label class="label" for="github">github</label>
    <input
      class="input"
      id="github"
      type="text"
      name="github"
      placeholder="Ej: sally-hill"
      value
      required
    />
  </div>
</section>
