<section class="collapsable-share js-collapsable-share collapsable-hidden">
  <button class="collapsable-share__button js-button-create">
    <i class="far fa-address-card" aria-hidden="true"></i>
    <span class="collapsable-share__button--text">crear tarjeta</span>
  </button>

  <div class="collapsable-share__twitter js-sectionCreated collapsable-hidden">
    <h3 class="collapsable-share__twitter--title">La tarjeta ha sido creada</h3>
    <a
      class="collapsable-share__twitter--link js-link-create"
      target="_blank"
      href=""
    ></a>
    <a href="" class="collapsable-share__twitter--button js-twitter-button">
      <i class="fab fa-twitter" aria-hidden="true"></i>Compartir en twitter
    </a>
  </div>
  <div
    class="collapsable-share__twitter js-sectionCreatedError collapsable-hidden"
  >
    <h3 class="collapsable-share__twitter--title">
      Los datos no están bien completados
    </h3>
    <p class="collapsable-share__twitter--link js-message-error"></p>
  </div>
</section>
