<section class="collapsable-share">
  <div class="collapsable-share__menu">
    <i class="fas fa-share-alt"></i>
    <h2 class="collapsable-share__menu--title">comparte</h2>
    <i class="fas fa-chevron-up"></i>
  </div>

  <button class="collapsable-share__button">
    <i class="far fa-address-card"></i>
    <span class="collapsable-share__button--text">crear tarjeta</span>
  </button>

  <div class="collapsable-share__line"></div>

  <div class="collapsable-share__twitter">
    <h3 class="collapsable-share__twitter--title">La tarjeta ha sido creada</h3>
    <a class="collapsable-share__twitter--link" href=""
      >https://awesome-profile-card.com?id=A456DF0001</a
    >
    <button class="collapsable-share__twitter--button">
      <i class="fab fa-twitter"></i>
      <span>Compartir en twitter</span>
    </button>
  </div>
</section>
