<section
  class="collapsable-fill js-collapsable js-collapsable-fill collapsable-hidden"
>
  <div class="collapsable-fill__content">
    <label class="label" for="name">nombre completo *</label>
    <input
      class="input js-nameInput"
      id="name"
      maxlength="19"
      type="text"
      name="name"
      placeholder="Ej: Sally Jill"
      required
    />
    <label class="label" for="job">puesto *</label>
    <input
      class="input js-job"
      id="job"
      maxlength="22"
      type="text"
      name="job"
      placeholder="Ej: Front-end unicorn"
      required
    />
    <label class="label" for="image">imagen de perfil *</label>
    <div class="collapsable-fill__content--buttonPreview">
      <label class="button" for="img-selector">Añadir imagen</label>
      <input
        type="file"
        name=""
        id="img-selector"
        class="action__hiddenField js__profile-upload-btn"
        required
      />
      <div class="square js__profile-preview"></div>
    </div>
    <label class="label" for="email">email *</label>
    <input
      class="input js-email"
      id="email"
      type="email"
      name="email"
      placeholder="Ej: sally-hill@gmail.com"
      value
      required
    />
    <label class="label" for="telephone">teléfono *</label>
    <input
      class="input js-telephone"
      id="telephone"
      type="tel"
      name="phone"
      placeholder="Ej: 123456789"
      value
      required
    />
    <label class="label" for="linkedin">linkedin *</label>
    <input
      class="input js-linkedin"
      id="linkedin"
      type="text"
      name="linkedin"
      placeholder="Ej: sally.hill"
      value
      required
    />
    <label class="label" for="github">github *</label>
    <input
      class="input js-github"
      id="github"
      type="text"
      name="github"
      placeholder="Ej: sally-hill"
      value
      required
    />
  </div>
</section>
