<section class="collapsable-design">
  <div class="collapsable-design__menu">
    <i class="far fa-object-ungroup"></i>
    <h2 class="collapsable-design__menu--title">diseña</h2>
    <i class="fas fa-chevron-up"></i>
  </div>
  <div class="collapsable-design__colors">
    <h3 class="collapsable-design__colors--title">colores</h3>
    <form>
      <input type="radio" name="option" id="color1" checked />Colores1
      <label for="color1">
        <div class="collapsable-design__colors--item item1">
          <span class="item__color1">Color1</span>
          <span class="item__color2">Color2</span>
          <spanclass="item__color3">Color3</span>
        </div>
      </label>

      <input type="radio" name="option" id="color2" checked />Colores2
      <label for="color2">
        <div class="collapsable-design__colors--item item2">
          <div class="item__color1">Color1</div>
          <div class="item__color2">Color2</div>
          <div class="item__color3">Color3</div>
        </div>
      </label>

      <input type="radio" name="option" id="color3" checked />Colores3
      <label for="color3">
        <div class="collapsable-design__colors--item item3">
          <div class="item__color1"></div>
          <div class="item__color2"></div>
          <div class="item__color3"></div>
        </div>
      </label>
    </form>
  </div>
</section>
