<section class="collapsable-design js-collapsable js-collapsable-design">
  <div class="collapsable-design__colors">
    <h3 class="collapsable-design__colors--title">colores</h3>
    <div clas="collapsable-design__colors--palettes">
      <label class="palette palette-radio label1" for="palette1">
        <input
          type="radio"
          class="radio-class js-paletteDefault"
          name="palette"
          id="palette1"
          value="1"
        />
        <ul class="palette__square palette-1">
          <li class="palette__square--color color-1"></li>
          <li class="palette__square--color color-2"></li>
          <li class="palette__square--color color-3"></li>
        </ul>
      </label>

      <label class="palette palette-radio label2" for="palette2">
        <input
          type="radio"
          class="radio-class"
          name="palette"
          id="palette2"
          value="2"
        />
        <ul class="palette__square palette-2">
          <li class="palette__square--color color-1"></li>
          <li class="palette__square--color color-2"></li>
          <li class="palette__square--color color-3"></li>
        </ul>
      </label>

      <label class="palette palette-radio label3" for="palette3">
        <input
          type="radio"
          class="radio-class"
          name="palette"
          id="palette3"
          value="3"
        />
        <ul class="palette__square palette-3">
          <li class="palette__square--color color-1"></li>
          <li class="palette__square--color color-2"></li>
          <li class="palette__square--color color-3"></li>
        </ul>
      </label>
    </div>
  </div>
</section>
