<section class="landing">
    <main class="landing__main">
        <div><img class="landing__main-header" src="./assets/images/tarjetas-molonas-large.png" alt="Awesome Logo" title="Awesome Logo">
        </div>
        <h1 class="landing__main-title">Crea tu tarjeta de visita</h1>
        <h2 class="landing__main-subtitle">Crea mejores contactos profesionales de forma fácil y cómoda</h2>
        <section>
            <ul class="landing__main-menu">
                <li><i class="landing__main-menu-icon1 far fa-object-ungroup" aria-hidden="true"></i><span class ="landing__main-menu-word1">Diseña</span></li>
                <li class ="landing__main-menu-word2"><i class="landing__main-menu-icon2 far fa-keyboard"></i>Rellena</li>
                <li class ="landing__main-menu-word3"><i class="landing__main-menu-icon3 fas fa-share-alt"></i>Comparte</li>
            </ul>
        </section>
        <div class="landing__main-button"><a class= "landing__main-start-button" href="./card.html">Comenzar</a></div>
    </main>
</section>
