<main class="landing__main">
  <div class="landing__main-header">
    <div class="logo"></div>
  </div>
  <h1 class="landing__main-title">Crea tu tarjeta de visita</h1>
  <h2 class="landing__main-subtitle">
    Crea mejores contactos profesionales de forma fácil y cómoda
  </h2>
  <section>
    <ul class="landing__main-menu">
      <li class="landing__main-menu-icon1">
        <i class="far fa-object-ungroup" aria-hidden="true"></i>
      </li>
      <span class="landing__main-menu-word1">Diseña</span>
      <li class="landing__main-menu-icon2">
        <i class="far fa-keyboard"></i>
      </li>
      <span class="landing__main-menu-word2">Rellena</span>
      <li class="landing__main-menu-icon3">
        <i class="fas fa-share-alt"></i>
      </li>
      <span class="landing__main-menu-word3">Comparte</span>
    </ul>
  </section>
  <div class="landing__main-button">
    <a class="landing__main-button--start" href="./card.html">Comenzar</a>
  </div>
</main>
