@mixin tablet() {
  @media (min-width: 768px) {
    @content;
  }
}

@mixin desktop() {
  @media (min-width: 1200px) {
    @content;
  }
}

@mixin menu-title {
  font-family: $fontOpenSans;
  font-weight: 600;
  font-size: 1.125rem;
}
