$colorBlack: #000000;
$colorDarkblue: #114e4e;
$colorBlue: #438792;
$colorLightGreen: #438792;
$colorBeige: #f9f4dc;
$colorWhite: #ffffff;
$colorOrange: #e17334;
$fontMerriweather: "Merriweather", serif;
$fontOpenSans: "Open Sans", sans-serif;
$fontMontserrat: "Montserrat", sans-serif;
