$colorBlack: #000000;
$colorDarkblue: #114e4e;
$colorBlue: #438792;
$colorLightBlue: #bfcdd0;
$colorLightGreen: #438792;
$colorBeige: #f9f4dc;
$colorWhite: #ffffff;
$colorWhite-two: #d8d8d8;
$colorOrange: #e17334;
$colorGray: #54585a;
$colorLightGray: #dde9ed;
$fontMerriweather: "Merriweather", serif;
$fontOpenSans: "Open Sans", sans-serif;
$fontMontserrat: "Montserrat", sans-serif;
