.collapsable {
  margin: 30px 20px;
  .collapsable-design {
    border-bottom: 2px solid $colorWhite-two;
    color: $colorGunMetal;
    text-transform: uppercase;
    &__menu {
      display: grid;
      grid-template-columns: 21px 1fr 16px;
      grid-template-rows: 24px;
      align-items: center;

      font-size: 1.125rem;
      .far {
        color: $colorDullOrange;
      }
      &--title {
        margin-left: 10px;

        font-family: $fontOpenSans;
        font-weight: 600;
        font-size: 1.125rem;
      }
    }
    &__colors {
      padding: 22px 0px 30px 0px;
      display: flex;
      justify-content: space-between;
      &--title {
        font-size: 0.875rem;
        font-family: $fontOpenSans;
        padding-left: 19px;
      }
      .palette {
        display: flex;
        align-items: center;
        &__square {
          display: flex;
          &--color {
            width: 30px;
            height: 25px;
          }
        }
        .palette-1 .color-1 {
          background-color: $colorDarkGreenBlue;
        }
        .palette-1 .color-2 {
          background-color: $colorDirtyBlue;
        }
        .palette-1 .color-3 {
          background-color: $colorHospitalGreen;
        }
        .palette-2 .color-1 {
          background-color: $colorDarkGreenBlue;
        }
        .palette-2 .color-2 {
          background-color: $colorDarkGreenBlue;
        }
        .palette-2 .color-3 {
          background-color: $colorDarkGreenBlue;
        }
        .palette-3 .color-1 {
          background-color: $colorDarkGreenBlue;
        }
        .palette-3 .color-2 {
          background-color: $colorDarkGreenBlue;
        }
        .palette-3 .color-3 {
          background-color: $colorDarkGreenBlue;
        }
      }
    }
  }
}
