@import "../core/variables";

.landing {
  background-color: $colorWhiteFour;
  &__main {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    height: 458px;

    &-header {
      width: 250px;
      height: 63px;
      margin-top: 95px;
      margin-bottom: 35.4px;
    }
    &-title {
      color: $colorDullOrange;
      font-size: 19.2px;
      font-weight: 900;
      font-family: $fontOpenSans;
      //   width: 264.8px;
      //   height: 38.4px;
    }
    &-subtitle {
      text-align: center;
      color: $colorDarkGreenBlue;
      font-size: 12.8px;
      font-weight: normal;
      margin-bottom: 17.8px;
      font-family: $fontOpenSans;
      width: 264.8px;
    }
    &-menu {
      display: grid;
      grid-template-columns: 1fr 1fr 1fr;
      grid-template-rows: 1fr 1fr;
      // justify-content: space-between;
      &-icon1 {
        font-size: 22.4px;
      }
      &-icon2 {
        font-size: 22.4px;
      }
      &-icon3 {
        font-size: 22.4px;
      }
    }
  }
}
// .central-column {
//   margin: 0 35px;
// }
