@import "../core/variables";

.landing {
  background-color: $colorWhiteFour;

  &__header {
    display: flex;
    justify-content: center;
    align-items: flex-end;
    &--awesome-logo {
      width: 250px;
      height: 63px;
    }
  }
  &__main {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    &--subtitle {
      text-align: center;
    }
  }
  //footer
  &__footer {
    background-color: $colorWhite;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    &--logo {
      width: 103px;
      height: 40px;
    }
  }
}
