.footer {
  display: flex;
  flex-direction: column;
  align-items: center;
  border-top: solid 1px $colorWhite-two;

  @include tablet() {
    flex-direction: row;
    justify-content: space-between;
    align-content: center;
    height: 60px;
  }

  &__info {
    font-family: $fontOpenSans;
    color: $colorBrownishGrey;
    opacity: 0.5;
    font-size: 14px;
    margin: 18px 60px 0 59px;

    @include tablet() {
      margin: 0;
      margin-left: 41px;
    }
  }

  &__logo {
    height: 40px;
    width: 103px;
    margin: 12px 110px 20px 107px;
    @include tablet() {
      margin: 0 40px 0 0;
    }
  }
}
