.footer {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.footer__info {
  font-family: $fontOpenSans;
  color: #6b6b6b;
  font-size: 14px;

  margin: 18px 60px 0 59px;
}

.footer__logo {
  height: 40px;
  width: 103px;
  margin: 12px 110px 20px 107px;
}

@media all and (min-width: 768px) {
  .footer {
    flex-direction: row;
    justify-content: space-between;
    align-content: center;
    height: 60px;
  }

  .footer__info {
    margin: 0;
    margin-left: 41px;
  }

  .footer__logo {
    margin: 0;
    margin-right: 40px;
  }
}
