.main {
  border-top: 1px solid $colorHospitalGreen;

  .card-wrapper {
    @include tablet() {
      margin: 0 auto;
      display: flex;
    }
    @include desktop() {
      max-width: 1024px;
    }
    .collapsable {
      padding: 15px 20px 30px 20px;
      order: -1;

      @include tablet() {
        min-width: 400px;
        padding: 30px 0px 20px 40px;
      }
    }
  }
}
.collapsable-hidden {
  display: none;
}
.rotate {
  transform: rotate(180deg);
}
